<a href="https://colab.research.google.com/github/sb2356-iiitr/ML_Projects/blob/main/CrossValidation/CrossValid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Cross Validation
Create multiple classifiers for different train and test values

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving 04+-+decisiontreeAdultIncome (1).csv to 04+-+decisiontreeAdultIncome (1).csv
User uploaded file "04+-+decisiontreeAdultIncome (1).csv" with length 1167862 bytes

In [2]:
# Import Libraries
import pandas as pd

In [4]:
# Read Dataset
data = pd.read_csv('04+-+decisiontreeAdultIncome (1).csv')
data.head()

   age        wc   education  ...   gender hours per week IncomeClass
0   38   Private     HS-grad  ...     Male             40       <=50K
1   28   Private   Bachelors  ...   Female             40       <=50K
2   37   Private     Masters  ...   Female             40       <=50K
3   31   Private     Masters  ...   Female             50        >50K
4   42   Private   Bachelors  ...     Male             40        >50K

[5 rows x 8 columns]

In [5]:
# Create dummy variables
data_prep = pd.get_dummies(data, drop_first=True)

In [6]:
data_prep.head()

   age  hours per week  ...  gender_ Male  IncomeClass_ >50K
0   38              40  ...             1                  0
1   28              40  ...             0                  0
2   37              40  ...             0                  0
3   31              50  ...             0                  1
4   42              40  ...             1                  1

[5 rows x 20 columns]

In [7]:
# Create X and Y variables
X = data_prep.iloc[:, :-1]
Y = data_prep.iloc[:, -1]

In [13]:
# Import and train Decision Tree Classifier,
# Random Forest Classifier and
# Support Vector Classifier
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state=1234)

from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(random_state=1234)

from sklearn.svm import SVC
svc = SVC(kernel='rbf', gamma=0.5)

In [14]:
# Cross Validation
from sklearn.model_selection import cross_validate

In [16]:
# Store the cv results
cv_result_dtc = cross_validate(dtc, X, Y, cv=10, return_train_score=True)
cv_result_rfc = cross_validate(rfc, X, Y, cv=10, return_train_score=True)
cv_result_svc = cross_validate(svc, X, Y, cv=10, return_train_score=True)

In [17]:
import numpy as np
dtc_test_avg = np.average(cv_result_dtc['test_score'])
rfc_test_avg = np.average(cv_result_rfc['test_score'])
svc_test_avg = np.average(cv_result_svc['test_score'])
print(dtc_test_avg)
print(rfc_test_avg)
print(svc_test_avg)

0.7810691737459707
0.7971904185045097
0.8036085674097743

In [18]:
dtc_train_avg = np.average(cv_result_dtc['train_score'])
rfc_train_avg = np.average(cv_result_rfc['train_score'])
svc_train_avg = np.average(cv_result_svc['train_score'])
print(dtc_train_avg)
print(rfc_train_avg)
print(svc_train_avg)

0.9043535882172298
0.9042918191721612
0.8744798848765454

In [19]:
# Print and analyse the results
print('         ', 'Decision Tree  ', 'Random Forest  ', 'Support Vector Machines')
print('         ', '---------------', '---------------', '-----------------------')
print(' Test  : ',
      round(dtc_test_avg, 4), '         ',
      round(rfc_test_avg, 4), '         ',
      round(svc_test_avg, 4))
print(' Train : ',
      round(dtc_train_avg, 4), '         ',
      round(rfc_train_avg, 4), '         ',
      round(svc_train_avg, 4))

          Decision Tree   Random Forest   Support Vector Machines
          --------------- --------------- -----------------------
 Test  :  0.7811           0.7972           0.8036
 Train :  0.9044           0.9043           0.8745

## We will choose Support Vector