<a href="https://colab.research.google.com/github/sb2356-iiitr/ML_Projects/blob/main/RecursiveFeatureElimination/rfe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Implement Recursive Feature Elimination

Predict product purchase for the Bank Telemarketing dataset

In [ ]:
# Import libraries
import pandas as pd

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving bank.csv to bank.csv
User uploaded file "bank.csv" with length 4928746 bytes

In [ ]:
# Read file
f = pd.read_csv('bank.csv')

In [ ]:
f.head()

   age        job  marital  ... euribor3m nr.employed   y
0   56  housemaid  married  ...     4.857      5191.0  no
1   57   services  married  ...     4.857      5191.0  no
2   37   services  married  ...     4.857      5191.0  no
3   40     admin.  married  ...     4.857      5191.0  no
4   56   services  married  ...     4.857      5191.0  no

[5 rows x 21 columns]

In [ ]:
# Drop duration column
f = f.drop("duration", axis = 1)

In [ ]:
# Split columns into Dependent and Independent variables
x = f.iloc[:, :-1]
y = f.iloc[:, -1]

In [ ]:
# Create dummy variables
x = pd.get_dummies(x, drop_first=True)
y = pd.get_dummies(y, drop_first=True)

In [ ]:
# Split the dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = \
train_test_split(x, y, test_size = 0.3, random_state = 1234, stratify = y)

In [ ]:
# Random forest classifier
from sklearn.ensemble import RandomForestClassifier

rfc1 = RandomForestClassifier(random_state=1234)
rfc1.fit(X_train, Y_train)
Y_predict1 = rfc1.predict(X_test)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

In [ ]:
# Score and evaluate the model
from sklearn.metrics import confusion_matrix
cm1 = confusion_matrix(Y_test, Y_predict1)
score1 = rfc1.score(X_test, Y_test)
print(cm1)
print(score1)

[[10647   318]
 [  988   404]]
0.8943109168892126

In [ ]:
# Apply Recursive Feature Elimination and select 30 features
from sklearn.feature_selection import RFE

In [ ]:
# Get an estimator object
rfc2 = RandomForestClassifier(random_state=1234)
rfe = RFE(estimator=rfc2, n_features_to_select=30, step=1)
rfe.fit(x, y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

RFE(estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                     class_weight=None, criterion='gini',
                                     max_depth=None, max_features='auto',
                                     max_leaf_nodes=None, max_samples=None,
                                     min_impurity_decrease=0.0,
                                     min_impurity_split=None,
                                     min_samples_leaf=1, min_samples_split=2,
                                     min_weight_fraction_leaf=0.0,
                                     n_estimators=100, n_jobs=None,
                                     oob_score=False, random_state=1234,
                                     verbose=0, warm_start=False),
    n_features_to_select=30, step=1, verbose=0)

In [ ]:
x_train_rfe = rfe.transform(X_train)
x_test_rfe = rfe.transform(X_test)

In [ ]:
# Fit the random forest classifier to the new train and test with 80 features
rfc2.fit(x_train_rfe, Y_train)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1234,
                       verbose=0, warm_start=False)

In [ ]:
# Test the model with new Test dataset
Y_predict = rfc2.predict(x_test_rfe)

In [ ]:
# Score and evaluate the new model
from sklearn.metrics import confusion_matrix
cm_rfe = confusion_matrix(Y_test, Y_predict)
score_rfe = rfc2.score(x_test_rfe, Y_test)
print(cm_rfe)
print(score_rfe)

[[10638   327]
 [  979   413]]
0.8943109168892126

In [ ]:
# Get column names
columns = list(x.columns)

In [ ]:
# Get the ranking of the features.
# Ranking 1 for selected features
ranking = rfe.ranking_

In [ ]:
# Get the feature important scores
feature_importance = rfc1.feature_importances_

In [ ]:
# Create the dataframe of the Features selected, Ranking and Feature Importance
rfe_selected = pd.DataFrame()

rfe_selected = pd.concat([pd.DataFrame(columns),
                          pd.DataFrame(ranking),
                          pd.DataFrame(feature_importance)],
                         axis=1)
rfe_selected.columns = ["Feature Name", "Ranking", "Feature Importance"]

In [ ]:
rfe_selected

                     Feature Name  Ranking  Feature Importance
0                             age        1        1.708099e-01
1                        campaign        1        8.396704e-02
2                           pdays        1        3.095854e-02
3                        previous        1        1.910895e-02
4                    emp.var.rate        1        2.206491e-02
5                  cons.price.idx        1        2.318935e-02
6                   cons.conf.idx        1        2.788468e-02
7                       euribor3m        1        1.210910e-01
8                     nr.employed        1        6.266152e-02
9                 job_blue-collar        1        1.401534e-02
10               job_entrepreneur        5        6.524096e-03
11                  job_housemaid       11        5.329012e-03
12                 job_management        1        1.149622e-02
13                    job_retired        1        7.625941e-03
14              job_self-employed        3        7.656227e-03
15                   job_services        1        1.145851e-02
16                    job_student        6        6.142427e-03
17                 job_technician        1        1.758248e-02
18                 job_unemployed        8        5.617039e-03
19                    job_unknown       16        2.600527e-03
20                marital_married        1        2.117302e-02
21                 marital_single        1        1.767990e-02
22                marital_unknown       20        9.097499e-04
23             education_basic.6y        4        7.640708e-03
24             education_basic.9y        1        1.211024e-02
25          education_high.school        1        1.731368e-02
26           education_illiterate       22        5.717097e-04
27  education_professional.course        1        1.264106e-02
28    education_university.degree        1        1.782134e-02
29              education_unknown        2        7.690096e-03
30                default_unknown        1        1.668574e-02
31                    default_yes       23        1.394463e-07
32                housing_unknown        7        3.310066e-03
33                    housing_yes        1        3.894037e-02
34                   loan_unknown       13        3.218632e-03
35                       loan_yes        1        2.387039e-02
36              contact_telephone        1        1.643367e-02
37                      month_aug       17        2.422641e-03
38                      month_dec       21        9.092748e-04
39                      month_jul       15        2.257687e-03
40                      month_jun       14        2.986767e-03
41                      month_mar       10        3.847703e-03
42                      month_may       12        4.238078e-03
43                      month_nov       19        2.122927e-03
44                      month_oct        9        5.457403e-03
45                      month_sep       18        1.872856e-03
46                day_of_week_mon        1        1.621821e-02
47                day_of_week_thu        1        1.614350e-02
48                day_of_week_tue        1        1.556672e-02
49                day_of_week_wed        1        1.599373e-02
50           poutcome_nonexistent        1        9.718556e-03
51               poutcome_success        1        2.444966e-02