<a href="https://colab.research.google.com/github/sb2356-iiitr/ML_Projects/blob/main/Decision_Tree/DT_Adult_Income.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Decision Tree Classifier
Prediction Task is to determine whether a person makes over 50K a year.

In [1]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving 04+-+decisiontreeAdultIncome.csv to 04+-+decisiontreeAdultIncome.csv
User uploaded file "04+-+decisiontreeAdultIncome.csv" with length 1167862 bytes

In [2]:
import pandas as pd

data = pd.read_csv('04+-+decisiontreeAdultIncome.csv')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19787 entries, 0 to 19786
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             19787 non-null  int64
 1   wc              19787 non-null  object
 2   education       19787 non-null  object
 3   marital status  19787 non-null  object
 4   race            19787 non-null  object
 5   gender          19787 non-null  object
 6   hours per week  19787 non-null  int64
 7   IncomeClass     19787 non-null  object
dtypes: int64(2), object(6)
memory usage: 1.2+ MB

In [4]:
data.head()

   age        wc   education  ...   gender hours per week IncomeClass
0   38   Private     HS-grad  ...     Male             40       <=50K
1   28   Private   Bachelors  ...   Female             40       <=50K
2   37   Private     Masters  ...   Female             40       <=50K
3   31   Private     Masters  ...   Female             50        >50K
4   42   Private   Bachelors  ...     Male             40        >50K

[5 rows x 8 columns]

In [5]:
# Check for null values
data.isna().sum()

age               0
wc                0
education         0
marital status    0
race              0
gender            0
hours per week    0
IncomeClass       0
dtype: int64

In [6]:
# Check data types
data.dtypes

age                int64
wc                object
education         object
marital status    object
race              object
gender            object
hours per week     int64
IncomeClass       object
dtype: object

In [7]:
# Create dummy variables
data_prep = pd.get_dummies(data, drop_first=True)
data_prep.head()

   age  hours per week  ...  gender_ Male  IncomeClass_ >50K
0   38              40  ...             1                  0
1   28              40  ...             0                  0
2   37              40  ...             0                  0
3   31              50  ...             0                  1
4   42              40  ...             1                  1

[5 rows x 20 columns]

In [8]:
 # Create X and Y variables
 X = data_prep.iloc[:, :-1]
 Y = data_prep.iloc[:, -1]

In [9]:
# Train and test the dataset
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = \
train_test_split(X, Y, test_size = 0.3, random_state = 1234)

In [10]:
from sklearn.tree import DecisionTreeClassifier
dtc = DecisionTreeClassifier(random_state = 1234)
dtc.fit(X_train, y_train)
y_predict = dtc.predict(X_test)

In [11]:
# Evaluate the model
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_predict)
cm

array([[3854,  524],
       [ 765,  794]])

In [12]:
score = dtc.score(X_test, y_test)
score

0.7828869799562068